.env
__pycache__/
*.pyc
.venv/
venv/
dist/
build/
*.egg-info/
data/raw_pdf/*
data/extracted_text/*
data/structured_json/*
data/grouped_questions/*
data/distilled_skills/*
!data/raw_pdf/.gitkeep
!data/extracted_text/.gitkeep
!data/structured_json/.gitkeep
!data/grouped_questions/.gitkeep
!data/distilled_skills/.gitkeep